# --- Team / Remote Base ---
.DS_Store
Thumbs.db
firmware/src/secrets.h
**/*.bin
**/*.elf
**/*.pem
**/*.key
**/*.csv
aws-credentials.json

# --- Local Apps (Mobile App - React/Capacitor) ---
mobile_app/node_modules/
mobile_app/.pnpm-store/
mobile_app/dist/
mobile_app/dist-ssr/
mobile_app/*.local
mobile_app/.vscode/*
!mobile_app/.vscode/extensions.json
mobile_app/.idea/
mobile_app/www/
mobile_app/android/app/src/main/assets/public
mobile_app/android/app/build
mobile_app/ios/App/public
mobile_app/ios/App/build

# --- Internal / Temporary ---
GEMINI.md
clean_code.py
scripts/
dist/
node_modules/
Lambda/
firmware/
